<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<title>Login</title>
<style>
body {
    font-family: Arial;
    background: #020617;
    color: white;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}
.box {
    background:#1e293b;
    padding:30px;
    border-radius:15px;
}
input {
    display:block;
    margin:10px 0;
    padding:10px;
}
button {
    padding:10px;
    background:#22c55e;
    border:none;
}
</style>
</head>
<body>

<div class="box">
<h2>📦 stockAr</h2>
<form method="POST">
<input name="username" placeholder="Usuario">
<input name="password" type="password" placeholder="Contraseña">
<button>Ingresar</button>
</form>
<a href="/register">Crear cuenta</a>
</div>

</body>
</html>