{% extends "base.html" %}
{% block content %}

<div class="card">
<h2>🧾 Generar etiquetas A4</h2>
<p>Editá los precios antes de imprimir</p>

<form method="POST" action="/qr_generar">

{% for p in productos %}
<div style="margin-bottom:10px;">

<b>{{p[3]}}</b><br>

<input type="hidden" name="codigo_{{loop.index}}" value="{{p[2]}}">

<input name="precio_{{loop.index}}" value="{{p[6]}}" placeholder="Precio">

</div>
{% endfor %}

<input type="hidden" name="total" value="{{productos|length}}">

<button class="btn">🧾 Generar PDF A4</button>

</form>

</div>

{% endblock %}