<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<style>
body{background:#020617;color:white;text-align:center;font-family:Arial;}
.card{background:#0f172a;margin:10px;padding:15px;border-radius:10px;}
</style>
</head>

<body>

<h2>📊 Resumen</h2>

<div class="card">
<p>Total: $ {{total}}</p>
<p>Ventas: {{cantidad}}</p>
</div>

<div class="card">
<canvas id="grafico"></canvas>
</div>

<div class="card">
{% for p in top_productos %}
<p>{{p[0]}} - {{p[1]}}</p>
{% endfor %}
</div>

<a href="/">⬅ Volver</a>

<script>
new Chart(document.getElementById("grafico"), {
 type:"line",
 data:{
  labels: {{ dias | tojson }},
  datasets:[{data: {{ montos | tojson }}}]
 }
});
</script>

</body>
</html>